comsrv/target/
comsrv_client/target/
comsrv_protocol/target/
venv
__pycache__
python/build
*.egg-info
client/target
protocol/target
target
out
.github/workflows/build.yml

tmp/
dist/
.pyprojectx
*.user.*
